
@keyframes softBounce {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-3px);
  }
}
.logo {
  height: 100px;
  margin-right: 10px;
  vertical-align: middle;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100; 
  background: transparent; 
  /* justify-content: flex-start; */
}

.navbar .app-name {
  font-size: 26px;
  margin-left: -30px;
  font-weight: bold;
  cursor: pointer;
  color: white;
  transition: transform 0.3s ease-in-out;
  animation: softBounce 2s infinite ease-in-out; 
}

.navbar .app-name:hover {
  transform: scale(1.05);
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  display: inline-block;
}

.navbar ul li button {
  background: none;
  border: none;
  color: white;
  font-size: 18px; 
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
  animation: softBounce 3s infinite ease-in-out; 
}

.navbar ul li button:hover {
  /* background: rgba(255, 255, 255, 0.15); */
  transform: scale(1.08);
}

.logout-btn {
  background: #ff4d4d;
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}

.logout-btn:hover {
  background: #ff3333;
}

